@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

body {
  margin: auto;
  max-width: 1200px;
  font-family: 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    background: rgb(158,118,143);
    background: linear-gradient(90deg, rgba(158,118,143,1) 0%, rgba(159,164,196,1) 100%);
    color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
